<header class="wilder-header">
    {{! Sheet Navigation }}
    <nav class="sheet-navigation tabs tablist" data-group="primary">
        <a class="choix_tab" data-tab="skills"><i class="fa-solid fa-chart-simple"></i></a>
        <a class="choix_tab" data-tab="description"><i class="fa-regular fa-clipboard"></i></a>
    </nav>
    <div class="change-lock" title="{{localize 'WILDERFEAST.LABEL.unlockSheet'}}">
        <a>{{#if unlocked}}<i class="fas fa-lock-open"></i>{{else}}<i class="fas fa-lock"></i>{{/if}}</a>
    </div>
    <div class="wilder-portrait std-contextmenu" data-group="portrait">
        {{#if unlocked}}
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        {{else if (ne actor.img "icons/svg/mystery-man.svg")}}
        <img src="{{actor.img}}" title="{{actor.name}}" />
        {{/if}}
    </div>
    <div class="charname">
        <input name="name" type="text" value="{{actor.name}}" />
    </div>
    <div class="stats_block std-contextmenu" style="grid-row: 1/2;grid-column: 4/5;" data-group="stamina">
        <div class="stat_name">
            {{localize "WILDERFEAST.LABEL.stamina"}}
        </div>
        <div class="stat_val">
            <input type="number" name="system.stamina.value" value="{{actor.system.stamina.value}}" min="0"
                step="1" /> /
        </div>
        <div class="stat_val">
        {{#if unlocked}}
        <input type="number" name="system.stamina.max" value="{{actor.system.stamina.max}}" min="0" 
                step="1" />
        {{else}}
            {{actor.system.stamina.max}}
        {{/if}}
        </div>
    </div>
</header>