<form class="{{cssClass}}" autocomplete="off">
  {{!log "technique" this}}
  <div class="item-sheet">
    <div class="item-content">
      <div class="name-title">
        <input name="name" type="text" value="{{item.name}}" />
      </div>
      <div class="item-line">
        <div class="field-name">{{{localize "WILDERFEAST.LABEL.cost"}}}</div>
        <input class="input-large"  name="system.cost" type="text" value="{{item.system.cost}}" />
      </div>
      <div class="field-name">{{{localize "WILDERFEAST.LABEL.description"}}}</div>
      {{editor descriptionHTML target="system.description" button=true engine="prosemirror" owner=owner editable=editable}}
    </div>
  </div>
</form>